In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [5]:
budata = pd.read_json('yelp_training_set\yelp_training_set_business.json',lines = True)
bd = budata.copy()
bd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11537 entries, 0 to 11536
Data columns (total 13 columns):
business_id      11537 non-null object
categories       11537 non-null object
city             11537 non-null object
full_address     11537 non-null object
latitude         11537 non-null float64
longitude        11537 non-null float64
name             11537 non-null object
neighborhoods    11537 non-null object
open             11537 non-null bool
review_count     11537 non-null int64
stars            11537 non-null float64
state            11537 non-null object
type             11537 non-null object
dtypes: bool(1), float64(3), int64(1), object(8)
memory usage: 1.1+ MB

In [6]:
del bd['city']
del bd['latitude']
del bd['longitude']
del bd['state']
del bd['full_address']
del bd['name']
del bd['business_id']
del bd['categories']
del bd['neighborhoods']
del bd['type']


bd.head()

   open  review_count  stars
0  True             3    5.0
1  True             5    5.0
2  True             4    5.0
3  True             5    3.5
4  True            14    3.5

In [7]:
bd.groupby('open').mean()

       review_count     stars
open
False     15.468137  3.464052
True      20.753612  3.699505

In [9]:
bd['open']=(bd['open']).astype(int)

In [11]:
bd.groupby('open').mean()

      review_count     stars
open
0        15.468137  3.464052
1        20.753612  3.699505

In [20]:
import statsmodels.api as sm
logit_model = sm.Logit(bd['open'],bd[['review_count', 'stars']])
result = logit_model.fit()
print result.summary()

Optimization terminated successfully.
         Current function value: 0.337484
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                   open   No. Observations:                11537
Model:                          Logit   Df Residuals:                    11535
Method:                           MLE   Df Model:                            1
Date:                Mon, 22 Jan 2018   Pseudo R-squ.:                0.002320
Time:                        02:10:09   Log-Likelihood:                -3893.6
converged:                       True   LL-Null:                       -3902.6
                                        LLR p-value:                 2.089e-05
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
review_count     0.0040      0.001      3.649      0.000       0.002       0.006
stars            0.5693      0.010     57.335      0.000       0.550       0.589
================================================================================

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression()
x = np.array(bd['review_count'])
x = x.reshape(-1, 1)
y = np.array(bd['open'])
logreg.fit(x, y)

logreg.score(x,y)

0.89390656149778969

In [41]:
tedata = pd.read_json('yelp_test_set\yelp_test_set_business.json',lines = True)
td = tedata.copy()

testx = np.array(td['review_count'])
testx = testx.reshape(-1, 1)
testy = np.array(td['open'])

predicted = logreg.predict(testx)
print metrics.accuracy_score(testy, predicted)

0.979253112033

In [48]:
# evaluate the model using 10-fold cross-validation
scores = cross_val_score(LogisticRegression(), x, y, scoring='accuracy', cv=10)
print scores
print scores.mean()

[ 0.89350649  0.89350649  0.89350649  0.89341421  0.89418907  0.89418907
  0.89418907  0.89418907  0.89418907  0.89418907]
0.893906812387

In [43]:
td.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 13 columns):
business_id      1205 non-null object
categories       1205 non-null object
city             1205 non-null object
full_address     1205 non-null object
latitude         1205 non-null float64
longitude        1205 non-null float64
name             1205 non-null object
neighborhoods    1205 non-null object
open             1205 non-null bool
review_count     1205 non-null int64
stars            1205 non-null float64
state            1205 non-null object
type             1205 non-null object
dtypes: bool(1), float64(3), int64(1), object(8)
memory usage: 114.2+ KB

In [ ]:
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))+

In [ ]:
import math

def regEquation (coef):