In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [6]:
budata = pd.read_json('yelp_training_set\yelp_training_set_business.json',lines = True)
bd = budata.copy()

tedata = pd.read_json('yelp_test_set\yelp_test_set_business.json',lines = True)
td = tedata.copy()

In [7]:
del bd['city']
del bd['latitude']
del bd['longitude']
del bd['state']
del bd['full_address']
del bd['name']
del bd['business_id']
del bd['categories']
del bd['neighborhoods']
del bd['type']
del bd['stars']

bd.head()

   open  review_count
0  True             3
1  True             5
2  True             4
3  True             5
4  True            14

In [8]:
del td['city']
del td['latitude']
del td['longitude']
del td['state']
del td['full_address']
del td['name']
del td['business_id']
del td['categories']
del td['neighborhoods']
del td['type']
del td['stars']

td.head()

   open  review_count
0  True             3
1  True             3
2  True             3
3  True             3
4  True             3

In [9]:
bd['open']=(bd['open']).astype(int)
td['open']=(td['open']).astype(int)

In [10]:
bd.groupby('open').mean()

      review_count
open
0        15.468137
1        20.753612

In [11]:
td.groupby('open').mean()

      review_count
open
0        14.280000
1         9.084746

In [15]:
df = pd.concat([bd,td])

df.groupby('open').mean()

      review_count
open
0        15.444355
1        19.555556

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression()
x = np.array(df['review_count'])
x = x.reshape(-1, 1)
y = np.array(df['open'])
logreg.fit(x, y)

logreg.score(x,y)

0.90197771150525818

In [21]:
testx = np.array(td['review_count'])
testx = testx.reshape(-1, 1)
testy = np.array(td['open'])

predicted = logreg.predict(testx)
scores = cross_val_score(LogisticRegression(), x, y, scoring='accuracy', cv=10)
print scores
print scores.mean()
print metrics.accuracy_score(testy, predicted)

NameError: name 'cross_val_score' is not defined

In [18]:
predicted = logreg.predict(testx)scores = cross_val_score(LogisticRegression(), x, y, scoring='accuracy', cv=10)
print scores
print scores.mean()
print metrics.accuracy_score(testy, predicted)

SyntaxError: invalid syntax (<ipython-input-18-66b69548fceb>, line 1)